<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1 class="text-center">{{ title }}!</h1>
  <!--> <img width="200" alt="Angular Logo" src="assets/netspend2.jpg"> -->
<hr/>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select a report
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/user">User info</a>
      <a class="dropdown-item" routerLink="/first">First report</a>
      <a class="dropdown-item" routerLink="/another">Another report</a>
      <a class="dropdown-item" routerLink="/home">Something else here</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


