<p>
  user works! -> Requesting user from: http://localhost:5050/user/
</p>

<div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">public_id</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let user of users; let i = index">
      <td>{{i+1}}</td>
      <td>{{user.email}}</td>
      <td>{{user.username}}</td>
      <td>{{user.public_id}}</td>
    </tr>
  </tbody>
</table>
</div>
